.ware-card {
  margin: 0;
  padding: 40px 20px 20px 18px;
  background-color: $base-white;
}

.ware-card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.ware-card__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $base-black;
}

.ware-card__description {
  margin: 0;
  margin-bottom: 16px;
  padding-right: 30px;
}

.ware-card__description-break-tablet {
  display: none;
}

.ware-card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ware-card__price {
  margin-right: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: $base-black;
}

.ware-card__order-button {
  padding: 8px 20px;
}

.ware-card__cart-button {
  padding: 8px 20px 8px 46px;
  background-image: url("../../../img/icons/stack.svg#fill-cart");
  background-size: 20px 16px;
  background-repeat: no-repeat;
  background-position: 20px center;
}

@media (min-width: $tablet-width) {
  .ware-card__title {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }

  .ware-card__description {
    margin-bottom: 20px;
  }

  .ware-card__description-break-tablet {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .ware-card__description-break-tablet {
    display: none;
  }
}
