.range-slider__js {
  margin: 31px 0 35px;
  padding: 0 12px;
  max-width: 100%;
  height: 4px;
  outline: none;
  border: none;
  background-color: $light-grey;
}

.range-slider__js-body {
  background: $primary-lighter;
}

.range-slider__js .range-slider__js-toggle {
  top: -10px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 2px solid $primary-lighter;
  background-color: $base-white;
  border-radius: 50%;
  box-shadow: none;

  &::after,
  &::before {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: $lavender-latte;
    outline: 2px solid $base-white;
    outline-offset: -4px;
  }

  &:active {
    background-color: $base-primary;
    outline: 2px solid $base-white;
    outline-offset: -4px;
  }
}

.range-slider:disabled .range-slider__toggle {
  background-color: $base-white;
  border: 2px solid $base-grey;
}

.range-slider__js:disabled .range-slider__js-body {
  background: $base-grey;
}

.range-slider__label {
  width: 100%;
}

.range-slider__input-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 8px;
    height: 2px;
    background-color: $base-grey;
    transform: translate(-50%, -50%);
  }
}

.range-slider__input {
  padding: 7px 0;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: $base-grey;
  text-align: center;
  border: 2px solid $primary-lighter;
  border-radius: 4px;

  &:focus-visible {
    color: $base-black;
    border: 2px solid $primary-darker;
    outline: none;
  }
}

@media (min-width: $desktop-width) {
  .range-slider__js {
    width: 100%;
  }

  .range-slider__input-wrapper {
    gap: 60px;
  }
}
