.promo-slider {
  height: 656px;
}

.promo-slider__body {
  height: 100%;
  overflow: visible;
}

.promo-slider__slide--flat-white {
  background-color: $flat-white;
}

.promo-slider__slide--lavender {
  background-color: $lavender-latte;
}

.promo-slider__slide--triple-espresso {
  background-color: $espresso;
}

.promo-slider__ware {
  padding: 20px 20px 60px;
  background-color: transparent;
}

.promo-slider__badge {
  margin: 5px 0 5px;
  letter-spacing: 0.12em;
}

.promo-slider__ware-title {
  margin: 0 0 10px;
  text-align: center;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.07em;
}

.promo-slider__ware-description {
  width: 100%;
  margin-bottom: 19px;
  padding: 0;
  text-align: center;
  letter-spacing: 0.08em;
}

.promo-slider__price {
  margin-right: 23px;
}

.promo-slider__ware-old-price {
  margin-right: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: $base-primary;
}

.promo-slider__order-button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.promo-slider__button {
  position: absolute;
  top: 0;
  content: "";
  z-index: 2;
  width: 20px;
  height: 100%;
  border: none;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-image: url("../../../img/icons/stack.svg#slider-arrow");

  &:focus,
  &:hover {
    background: no-repeat center/20px
      url("../../../img/icons/stack.svg#slider-arrow"),
      linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: no-repeat center/20px
      url("../../../img/icons/stack.svg#slider-arrow"),
      linear-gradient(
        90deg,
        rgba(120, 89, 207, 0.25) 0%,
        rgba(120, 89, 207, 0) 100%
      );
  }

  &:disabled {
    background-image: url("../../../img/icons/stack.svg#slider-arrow-disabled");
  }
}

.promo-slider__pagination {
  display: none;
}

.promo-slider__button--prev {
  left: 0;
}

.promo-slider__button--next {
  right: 0;
  transform: rotate(180deg);
}

@media (min-width: $tablet-width) {
  .promo-slider {
    height: 640px;
    margin-bottom: 188px;
  }

  .promo-slider__ware {
    padding: 60px 80px 80px;
  }

  .promo-slider__ware-wrapper {
    flex-direction: column-reverse;
  }

  .promo-slider__img {
    position: absolute;
    content: "";
    z-index: 1000;
    top: 352px;
  }

  .promo-slider__img img {
    width: 476px;
    height: 476px;
    object-fit: contain;
  }

  .promo-slider__badge {
    margin: 0 0 4px;
  }

  .promo-slider__ware-title {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 80px;
  }

  .promo-slider__ware-description {
    font-size: 20px;
    line-height: 32px;
  }

  .promo-slider__footer {
    justify-content: center;
  }

  .promo-slider__button {
    width: 80px;
  }
}

@media (min-width: $desktop-width) {
  .promo-slider {
    height: 714px;
    margin-bottom: 0;
  }

  .promo-slider__ware {
    padding: 30px 80px 80px 104px;
  }

  .promo-slider__ware-wrapper {
    flex-direction: row;
  }

  .promo-slider__img {
    position: static;
    margin-right: 30px;
  }

  .promo-slider__img img {
    width: 600px;
    height: 600px;
  }

  .promo-slider__description-wrapper {
    margin-bottom: 8px;
  }

  .promo-slider__badge {
    margin-bottom: 2px;
    text-align: left;
  }

  .promo-slider__ware-title {
    text-align: left;
  }

  .promo-slider__ware-description {
    margin-bottom: 40px;
    padding: 0;
    max-width: 625px;
    text-align: left;
  }

  .promo-slider__footer {
    justify-content: left;
  }

  .promo-slider__price {
    margin-right: 28px;
  }

  .promo-slider__pagination {
    position: absolute;
    bottom: 70px;
    left: calc(50% - 101px);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 202px;
    height: 4px;
  }

  .promo-slider__pagination-bullet {
    display: block;
    width: 62px;
    height: 4px;
    background-color: $base-white;
  }

  .promo-slider__pagination-bullet--current {
    background-color: $base-primary;
  }
}
